<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Enter your Email" ngModel name="email" email required
                #emailInput="ngModel">
            <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
            <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" hintLabel="Should be at least 6 characters long.">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Enter your Password" ngModel name="password" required
                minlength="6" #pwInput="ngModel">
            <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
            <mat-error>Has to be at least 6 characters long.</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Birthday</mat-label>
            <input matInput placeholder="Your Birthday" [matDatepicker]="picker" [max]="maxDate" ngModel
                name="birthdate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox ngModel name="agree" required color="primary">Agree to Terms and Conditions.</mat-checkbox>
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    </form>
</section>